#replay-box {
    width: 100%;
    height: 300px;
    overflow: auto;
    min-width: 400px;
    max-height: 600px;
    padding: 0 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#replay-action-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 3em 1fr;
    margin-top: 1em;
    direction: rtl;
}
.replay-bttn {
    height: 43px;
    margin-top: 7px;
}
input {
    direction: ltr;
}
.comment-container {
    display: flex;
}
.comment-name {
    font-size: .9em;

}
.comment{
    border-radius: 1em;
    background: gainsboro;
    padding: 1em;
}
.creator-comment-container{
    justify-content: flex-end;
    text-align: end;
}
.creator-comment{
    background-color: darkgoldenrod;
    color: #fff;
}