<nav id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div style="font-size: npm 1.5em"class="nav-bar-items">#DJBEN</div>
    </div>
    <div id="nav-bar-right">
      <div id=""><mat-icon>brightness_5</mat-icon><mat-slide-toggle></mat-slide-toggle></div>
      <div *ngIf="!loggedIn()" (click)="onLoginClick()"  class="nav-bar-items">Login</div>
      <div *ngIf="loggedIn()" (click)="onLogoutClick()"  class="nav-bar-items">Log out</div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>