#nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background: rgb(150 150 150 / 64%);
}
.nav-bar-items{
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  color:  rgba(255, 255, 255, 1);
}
.spacer {
  flex: 1 1 auto;
}
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6em;
}
.nav-bar-items mat-icon svg {
  fill: rgba(255, 255, 255, 1);
  ;
}
button mat-icon {color: #fff}