.action-item {
    margin-left: .5em;
}
#action-bttn {
    margin-right: 0.6em;
}
#post-item {
    margin-bottom: 0.6em;
}
.post-title {
    cursor: pointer;
}
.post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}